@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


body {
  /* font-family: var(--font-roboto); */
  background-image: url('https://wallpaperbat.com/img/857688-brawl-stars-desktop-4k-wallpaper.jpg');
  background-repeat: no-repeat;
  background-color: #c3c39d;
  font-size: 15px;
  

}
h1{
  color:#c7cf32;
}

.container {
  width: 220px;
  text-align: center;
  color: rgb(69, 32, 80);
}

.brawler {
  width: 220px;
  border-style: solid;
  border-radius: 5px;
}

.brawlerlabel{
  color:#c3c39d;
  font-family: "Sofia", sans-serif;
  
}

.backtomenu{
  color:rgb(25, 161, 161);
  background-color: #dde447;
  border-radius: 5px;
}

.brawlertable{
  color:#e4e4e0;
  
  /* background-color: aqua; */
  column-rule-color: #c7cf32;
  background-color: #5394b2;
  
}

